@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(253, 253, 253);
    width: 100vw;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

.animationButton{
    animation-duration: 10000ms;
}